<section class="list margin--auto">
    <!-- Task Head -->
    <div class="tasks__head">
        <div>
            Tasks
        </div>
    </div>
    <!-- Task Body -->
    <div class="task__body">
        <div class="task__sub">
            <ul class="margin--auto">
                <li class="current__task">
                    <a ui-sref="base.taskActive">Active</a>
                </li>
                <li class="Completed__task">
                    <a ui-sref="base.taskCompleted">Completed</a>
                </li>
            </ul>
        </div>
        <ul class="task__list">
            <li ng-if="$ctrl.taskList.length" ng-repeat="tasks in $ctrl.taskList | filter : !isTaskComplete === true" class="task__item">
                <span class="label__active">{{ tasks.category }}</span>
                <span class="task__priority-icon task__priority-icon-{{tasks.taskPriority}}"></span>
                <div
                class="task__item__text"
                ng-class="{'is-completed': tasks.isTaskComplete === true}"> {{ tasks.text }}</div>
                <div class="task__mark">
                  <i
                  class="task__complete-icon"
                  ng-class="{'is-completed': tasks.isTaskComplete === true}"
                  ng-click="$ctrl.isTaskComplete(tasks)"></i>
                  <i
                  class="task__remove"
                  ng-click="$ctrl.removeTask(tasks)"></i>
                </div>
            </li>
            <li ng-if="!$ctrl.taskList.length">
                You have no tasks at this moment.
            </li>
        </ul>

    </div>
</section>
